@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800");

:root{
  --font-color: #777;
  --bg-color: #fff;
  --title-color: #333;
  --nav-color: #be6e29;
  --link-color:#fe7865;
  --section-color: #fffaf6;
  --bg-slider-color: #fffaf6;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--font-color); 
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box; 
}

img {
  max-width: 100%; 
}


a:focus,
input:focus,
textarea:focus,
button:focus {
  text-decoration: none;
  outline: none; 
}

a,
a:focus,
a:hover {
  text-decoration: none; 
}

span,
a {
  display: inline-block; 
}

h1 span{
  font-weight: 600;
}

h2, h3, h4, h5, h6 {
  font-weight: 800;
  color: var(--title-color);
  font-family: "Poppins", sans-serif;
  margin: 0px; 
}

ul, ol {
  list-style-type: none; 
}

p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  color: var(--font-color); 
}

.bg_cover {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%; 
}

header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--bg-color);
  box-shadow: 0px 0px 40px 0px rgba(156, 156, 156, 0.25);
  z-index: 999;
  transition: all 0.4s ease-out 0s;
}

header .navbar .navbar-nav .nav-item a {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--font-color);
  transition: all 0.4s ease-out 0s;
  text-decoration: none;
}

header .navbar .navbar-nav .nav-item.active a, 
header .navbar .navbar-nav .nav-item:hover a {
  color: var(--nav-color);
}

/* Back To Top */
.back-to-top{
  position: fixed;
  right: 2vw;
  bottom: 1vw;
  font-size: 18px;
  width: 40px;
  line-height: 40px;
  z-index: 99;
  box-shadow: 0px 0px 10px 0px rgba(156, 156, 156, 0.25);
  transition: all 0.4s ease-out 0s;
}

.bi-chevron-up{
  padding: 5px;
  width: 100%;
  height: 100%;
  color: var(--bg-color);
  background-color: var(--link-color); 
}

.bi-chevron-up:hover {
  color: var(--link-color);
  background-color: var(--font-color);
  cursor: pointer;
}


/* All Button Style */
.main-btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid var(--link-color);
  padding: 0 35px;
  font-size: 1rem;
  line-height: 3rem;
  color: var(--bg-color);
  cursor: pointer;
  z-index: 5;
  transition: all 0.4s ease-out 0s;
  background-color: var(--link-color); 
}

a.main-btn{
  text-decoration: none;
}

.main-btn:hover {
  background-color: var(--bg-color);
  color: var(--link-color);
  border-color: var(--link-color); 
}

.main-btn.main-btn-2 {
  background-color: var(--bg-color);
  color: var(--link-color);
  border-color: var(--link-color); 
}

.main-btn.main-btn-2:hover {
  background-color: var(--link-color);
  border-color: var(--link-color);
  color: var(--bg-color); 
}

/* All Section Title Style */
.section-title h5 {
  position: relative;
  font-size: 18px;
  color: var(--link-color);
  font-weight: 500;
  padding-left: 110px; 
}

.section-title h5::before {
  position: absolute;
  content: '';
  top: 50%;
  left: 0;
  width: 100px;
  height: 1px;
  background-color: var(--link-color);
  transform: translateY(-50%); 
}

.section-title .title {
  font-size: 32px; 
}


/* Carousel */
.carousel-item{
  background-color: var(--bg-slider-color);
}

.slider-text{
  font-size: 1.2rem;
  line-height: 1.5;
  text-wrap: balance;
}

.slider-discount-tag {
  width: 110px;
  height: 110px;
  background-color: var(--link-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10px;
  left: 320px;
}

.slider-discount-tag p{
  padding-top: 0.5em;
  color: var(--bg-color);
  font-size: 1.2rem;
  letter-spacing: 0.1em;
  line-height: 1.5;
  text-align: center;
  font-weight: 600;
}

/* Discount Product */
.single-discount-product {
  position: relative; 
}

.single-discount-product .product-image {
  overflow: hidden; 
}

.single-discount-product .product-image img {
  width: 100%;
  transition: all 0.4s ease-out 0s; 
}

.single-discount-product .product-content {
  position: absolute;
  top: 0;
  left: 0;
  padding: 30px 30px; 
}

.single-discount-product .product-content .content-title {
  font-size: 24px;
  line-height: 40px; 
}

.single-discount-product .product-content a {
  color: var(--nav-color);
  font-size: 1rem;
  font-weight: 500;
  transition: all 0.4s ease-out 0s; 
  text-decoration: none;
  font-size: 1.2rem;
  margin-left: 2px; 
}

.single-discount-product .product-content a:hover {
  color: var(--link-color); 
}

svg.bi:hover {
  fill: var(--link-color);
}

.single-discount-product:hover .product-image img {
  transform: scale(1.2); 
}

.slick-track{
  opacity: 0.95; 
  width: 555px; 
  height: 292px; 
  transform: translate3d(0px, 0px, 0px);
}

.product-content{
  text-shadow: 10px 10px 50px 10px rgba(156, 156, 156, 0.25);
}

.bi-chevron-right{
  color: var(--nav-color);
}

/* Product Card */
.collection-menu .collection-tilte {
  background-color: #e5e5e5;
  font-size: 24px;
  font-weight: 600;
  padding: 30px 20px; 
}

.collection-menu .nav a {
  border: 1px solid #ddd;
  margin-bottom: -1px;
  line-height: 58px;
  background-color: var(--bg-color);
  font-size: 18px;
  font-weight: 600;
  color: var(--font-color);
  transition: all 0.4s ease-out 0s; 
}
.collection-menu .nav a.active {
  background-color: var(--link-color);
  border-color: var(--link-color);
  color: var(--bg-color); 
}

.single-product-items .product-item-image {
  position: relative;
  overflow: hidden; 
}
.single-product-items .product-item-image a {
  display: block; 
}
.single-product-items .product-item-image img {
  width: 100%;
  transition: all 0.4s ease-out 0s; 
}
.single-product-items .product-item-image .product-discount-tag {
  width: 50px;
  height: 50px;
  background-color: var(--link-color);
  position: absolute;
  top: 5px;
  right: 10px;
  text-align: center;
  border-radius: 50%; 
}
.single-product-items .product-item-image .product-discount-tag p {
  color: var(--bg-color);
  font-weight: 600;
  font-size: 18px;
  line-height: 50px; 
}
.single-product-items .product-item-content .product-title a {
  font-size: 20px;
  color: #333;
  transition: all 0.4s ease-out 0s; 
  text-decoration: none;
}
.single-product-items .product-item-content .product-title a:hover {
  color: var(--link-color); 
}
.single-product-items .product-item-content .rating li {
  color: var(--nav-color);
  font-size: 12px;
  display: inline-block; 
}
.single-product-items .product-item-content span {
  margin: 0 3px;
  font-size: 16px;
  font-weight: 600;
  position: relative; 
}
.single-product-items .product-item-content .regular-price {
  color: var(--link-color); 
}
.single-product-items .product-item-content .discount-price {
  color: #c4c4c4; 
}
.single-product-items .product-item-content .discount-price::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 1px;
  background-color: #222;
  left: 0;
  top: 50%;
  transform: translateY(-50%); 
}
.single-product-items:hover .product-item-image img {
  transform: scale(1.1); 
}

.product-items-active .slick-arrow {
  position: absolute;
  right: -80px;
  z-index: 9;
  transform: translateY(-50%); 
}

.product-items-active .slick-arrow.prev {
  bottom: 35%; 
}

.product-items-active .slick-arrow.next {
  top: 35%; 
}

.product-items-active .slick-arrow i {
  font-size: 18px;
  color: var(--link-color);
  width: 50px;
  line-height: 48px;
  border-radius: 50%;
  border: 1px solid var(--link-color);
  background-color: var(--bg-color);
  text-align: center;
  cursor: pointer;
  transition: all 0.4s ease-out 0s; 
}

.product-items-active .slick-arrow i:hover {
  background-color: var(--link-color);
  border-color: var(--link-color);
  color: var(--bg-color); 
}

.tab-content .tab-pane {
  display: block;
  overflow: hidden;
  height: 0;
  visibility: hidden;
  max-width: 100%;
  opacity: 0; 
}
.tab-content .tab-pane.active {
  height: auto;
  visibility: visible;
  opacity: 1;
  overflow: visible; 
}

#v-pills-tab a{
  text-decoration: none;
}

/* Services */
.services-area {
  background-color: var(--section-color); 
}

.services-left {
  position: relative; 
}

.services-left .services img {
  width: 100%; 
}

.single-services {
  border: 1px solid #ddd;
  padding: 25px 15px;
  background: var(--bg-color); 
}

.single-services .services-icon svg {
  font-size: 50px;
  color: var(--link-color); 
}

.single-services .services-content .title {
  font-size: 20px;
  color: var(--link-color); 
}

/* Showcase */

.showcase-title .title {
  font-size: 35px; 
}

.single-showcase {
  display: flex;
  justify-content: center;
  align-items: center; 
  max-width: 350px;
}

.showcase-active {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding: 1.5rem;
  color: var(--bg-color);
  font-size: 20px;
  text-align: center;
  cursor: pointer; 
}

/* Team */
.team-area {
  background-color: var(--section-color);
}

.sec-title{
  font-size: 2.5rem;
}

.single-temp {
  border: 1px solid transparent;
  padding: 20px;
  background-color: #fff;
  transition: all 0.4s ease-out 0s; 
}

.single-temp .team-image img {
  border-radius: 50%; 
  width: 150px;
}

.single-temp .team-content .title {
  font-size: 22px;
  color: #333;
  transition: all 0.4s ease-out 0s; 
}

.single-temp .team-content .title:hover {
  color: var(--link-color); 
}

.single-temp .team-content span {
  font-size: 14px;
  color: var(--font-color);
  display: block;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 2px; 
}

.single-temp .team-content .social {
  border: 1px solid var(--link-color);
  display: inline-block;
  line-height: 38px;
  padding: 0 15px;
  border-radius: 50px;
  background-color: #ffe8e5; 
}

.single-temp .team-content .social li {
  display: inline-block;
  margin: 0 10px; 
}

.single-temp .team-content .social li img {
  font-size: 16px;
  transition: all 0.4s ease-out 0s; 
}

.single-temp:hover {
  border-color: var(--link-color);
  box-shadow: 0px 0px 7px 0px rgba(254, 119, 101, 0.55); 
}

.cover-area {
  position: relative;
}

.cover-bg{
  background-image: url('../img/job.jpg');
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%; 
}

/* Contact */
.contact-area .contact-title .title {
  font-size: 60px;
  color: var(--text-color); 
  margin: 25px 0;
}

.contact-box {
  padding: 10px 40px 40px;
  box-shadow: 0px 0px 40px 0px rgba(156, 156, 156, 0.25);
  background-color: color: var(--bg-color); 
}

.contact-info .info-title {
  font-size: 26px;
  padding-bottom: 5px; 
}

.contact-info ul{
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.single-info {
  position: relative; 
}

.single-info .info-icon {
  position: absolute;
  left: 0;
  top: 0; 
}

.single-info .info-content {
  padding-left: 40px; 
  padding-right: 20px; 
}

.single-info .info-content p {
  font-size: 18px;
  font-weight: 500; 
}

.single-info .info-content p a {
  text-decoration: none;
  color: var(--text-color); 
}

.form-group {
  margin: 0; 
}

.single-form {
  margin-top: 30px; 
}

.single-form textarea, .single-form input {
  width: 100%;
  height: 55px;
  border: 1px solid #ddd;
  background-color: #f7f7ff;
  padding: 0 20px; 
}

.single-form textarea {
  height: 155px;
  padding-top: 15px;
  resize: none; 
}

.single-form textarea::placeholder, .single-form input::placeholder {
  opacity: 1;
  color: var(--font-color); 
}

p.form-message.success,
p.form-message.error {
  font-size: 16px;
  color: var(--text-color);
  background: #ddd;
  padding: 10px 15px;
  margin-left: 15px;
  margin-top: 15px; 
}

p.form-message.error {
  color: #f00; 
}

.list-unstyled li {
  font-size: 13px;
  margin-left: 2px;
  margin-top: 5px;
  color: #f00; 
}


/* Footer */
.footer-area {
  background-image: url('../img/footer-bg.png');
  background-repeat: no-repeat;
  background-position: top center;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
}

.footer-widget{
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.footer-logo .footer-social li {
  display: inline-block;
  margin-left: 12px;
}

.footer-logo p{
  line-height: 1.8;
  text-wrap: balance;
}

.footer-logo .footer-social li:first-child {
  margin-left: 0; 
}

.footer-logo .footer-social li a {
  font-size: 16px;
  color: var(--font-color);
  padding: 8px;
  text-align: center;
  background-color: #fff;
  box-shadow: 0px 5px 21px 0px rgba(254, 119, 101, 0.2);
  transition: all 0.4s ease-out 0s;
  border-radius: 50%; 
}

.f-title {
  font-size: 20px;
  padding-bottom: 5px; 
  padding-left: 32px;
}

.footer-link ul li {
  margin-top: 15px;
}

.footer-link ul li a {
  transition: all 0.4s ease-out 0s; 
  text-decoration: none;
  color: var(--font-color);
}

.footer-info {
  padding-left: 70px; 
}

.single-footer-info {
  position: relative; 
}

.single-footer-info span {
  font-size: 16px;
  color: var(--text-color);
  position: absolute;
  top: 0;
  left: 0;
}

.single-footer-info .footer-info-content {
  padding-left: 80px; 
}

.credits{
  font-family: 'monospace', sans-serif;
  font-size: 0.8em;
  font-style: italic;
  margin-bottom: 0;
  padding-bottom: 0.8em;
}

.credits a {
  text-decoration: none;
  color: var(--link-color);
}


/* Media Queries */
@media (min-width: 1200px) and (max-width: 1400px) {

  .product-items-active .slick-arrow i {
    width: 40px;
    line-height: 38px;
    font-size: 16px; 
  } 

  .product-items-active .slick-arrow.next {
    top: 38%; 
  } 

  .product-items-active .slick-arrow {
    right: -40px; 
  } 

  .product-items-active .slick-arrow.prev {
    bottom: 38%; 
  } 

}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .footer-info {
    padding-left: 0; 
  } 
}

@media (min-width: 768px) and (max-width: 991px) {
  .slider-discount-tag {
    left: 190px;
  }

  .product-items-active .slick-arrow i {
    width: 30px;
    line-height: 28px;
    font-size: 16px; 
  } 

  .product-items-active .slick-arrow {
    right: -20px; 
  } 

  .product-items-active .slick-arrow.prev {
    bottom: 40%; 
  } 

  .product-items-active .slick-arrow.next {
    top: 40%; 
  } 

  .collection-menu .collection-tilte {
    font-size: 20px;
    padding: 15px 10px; 
  } 

  video{
    max-width: 100%;
  }

  .footer-info {
    padding-left: 0; 
  } 

}

@media (max-width: 767px) {
  .collection-menu .collection-tilte {
    font-size: 20px;
    padding: 20px 15px; 
  } 

  .product-area {
    padding-top: 50px;
    padding-bottom: 80px; 
  } 

  .single-discount-product .product-content {
    padding: 15px 20px; 
  } 

  .single-discount-product .product-content .content-title {
    font-size: 18px;
    line-height: 28px; 
  } 

  .discount-product {
    padding-top: 50px; 
  }

  .main-btn {
    font-size: 14px;
    padding: 0 25px;
    line-height: 43px; 
  } 

  .section-title .title {
    font-size: 26px; 
  } 

  .services-area {
    padding-top: 75px;
    padding-bottom: 80px; 
  } 

  .showcase-title .title {
    font-size: 30px; 
  } 

  .single-showcase {
    margin: 0; 
    min-width: 500px;
  } 

  .showcase-area {
    padding-top: 50px;
    padding-bottom: 80px;
  } 

  .single-showcase .main-btn {
    line-height: 48px;
    padding: 0 40px;
    font-size: 16px;
    bottom: 20px;
    left: 40px; 
  }

  .team-area {
    padding-top: 75px;
    padding-bottom: 80px; 
     
  }
  
  .contact-area .contact-title .title {
    font-size: 35px; 
  } 

  .contact-area {
    padding-top: 70px; 
  } 

  .contact-box {
    padding: 0 20px  20px; 
  } 
  
  .single-info .info-content p {
    font-size: 16px; 
  }

  .footer-info {
    padding-left: 0; 
  } 

  footer .container{
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .footer-logo{
    padding-left: 1.8rem;
  }

  .footer-help{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
  }
}

@media (min-width: 320px) and (max-width: 767px) {

  .container{
    max-width: 90%
  }

  .slick-track {
    width: 100%;
  }

  .single-showcase, video{
    min-width:100%
  }

  .carousel-item div{
    flex-direction: column;
  }

  .single-discount-product .product-content {
    padding: 25px 30px; 
  } 

  .single-discount-product .product-content .content-title {
    font-size: 20px;
    line-height: 30px; 
  } 

}
