@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800");

:root{
  --font-color: #777;
  --bg-color: #fff;
  --title-color: #333;
  --nav-color: #be6e29;
  --link-color:#fe7865;
  --bg-slider-color: #FFFAF6;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--font-color); 
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box; 
}

img {
  max-width: 100%; 
}


a:focus,
input:focus,
textarea:focus,
button:focus {
  text-decoration: none;
  outline: none; 
}

a,
a:focus,
a:hover {
  text-decoration: none; 
}

span,
a {
  display: inline-block; 
}

h1 span{
  font-weight: 600;
}

h2, h3, h4, h5, h6 {
  font-weight: 600;
  color: var(--title-color);
  margin: 0px; 
}

ul, ol {
  list-style-type: none; 
}

p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  color: var(--font-color); 
}

.bg_cover {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%; 
}

header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--bg-color);
  box-shadow: 0px 0px 40px 0px rgba(156, 156, 156, 0.25);
  z-index: 999;
  transition: all 0.4s ease-out 0s;
}

header .navbar .navbar-nav .nav-item a {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--font-color);
  transition: all 0.4s ease-out 0s;
  text-decoration: none;
}

header .navbar .navbar-nav .nav-item.active a, 
header .navbar .navbar-nav .nav-item:hover a {
  color: var(--nav-color);
}

/* Back To Top */
/* .back-to-top{
  position: fixed;
  bottom: 200px;
  right: 20px;
  font-size: 18px;
  width: 40px;
  line-height: 40px;
  z-index: 99;
  text-align: center;
  display: none;
  box-shadow: 0px 0px 30px 0px rgba(156, 156, 156, 0.25);
  transition: all 0.4s ease-out 0s;
  color: var(--bg-color);
  background-color: var(--link-color); 
} */

.back-to-top{
  position: fixed;
  right: 2vw;
  bottom: 1vw;
  font-size: 18px;
  width: 40px;
  line-height: 40px;
  z-index: 99;
  box-shadow: 0px 0px 30px 0px rgba(156, 156, 156, 0.25);
  transition: all 0.4s ease-out 0s;
}

svg{
  padding: 5px;
  border-radius: 5px;
  color: var(--bg-color);
  background-color: var(--link-color); 
}

svg:hover {
  color: var(--link-color);
  background-color: var(--font-color);
  cursor: pointer;
}



/* All Button Style */
.main-btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid var(--link-color);
  padding: 0 35px;
  font-size: 1rem;
  line-height: 3rem;
  color: #fff;
  cursor: pointer;
  z-index: 5;
  transition: all 0.4s ease-out 0s;
  background-color: var(--link-color); 
}

@media (max-width: 767px) {
  .main-btn {
    font-size: 14px;
    padding: 0 25px;
    line-height: 43px; 
  } 
}

a.main-btn{
  text-decoration: none;
}

.main-btn:hover {
  background-color: #fff;
  color: var(--link-color);
  border-color: var(--link-color); 
}

.main-btn.main-btn-2 {
  background-color: #fff;
  color: var(--link-color);
  border-color: var(--link-color); 
}

.main-btn.main-btn-2:hover {
  background-color: var(--link-color);
  border-color: var(--link-color);
  color: #fff; 
}

/* All Section Title Style */
.section-title h5 {
  position: relative;
  font-size: 18px;
  color: var(--link-color);
  font-weight: 500;
  padding-left: 110px; 
}

.section-title h5::before {
  position: absolute;
  content: '';
  top: 50%;
  left: 0;
  width: 100px;
  height: 1px;
  background-color: var(--link-color);
  transform: translateY(-50%); 
}

.section-title .title {
  font-size: 32px; 
}

@media (max-width: 767px) {
  .section-title .title {
    font-size: 26px; } 
  }

/* Carousel */
.carousel-item{
  background-color: var(--bg-slider-color);
}

.slider-text{
  font-size: 1.2rem;
  line-height: 1.5;
  text-wrap: balance;
}

.slider-discount-tag {
  width: 110px;
  height: 110px;
  background-color: var(--link-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10px;
  left: 320px;
}

.slider-discount-tag p{
  padding-top: 0.5em;
  color: var(--bg-color);
  font-size: 1.2rem;
  letter-spacing: 0.1em;
  line-height: 1.5;
  text-align: center;
  font-weight: 600;
}

/* Descount Product */
@media (max-width: 767px) {
  .discount-product {
    padding-top: 50px; 
  } 
}

.single-discount-product {
  position: relative; 
}

.single-discount-product .product-image {
  overflow: hidden; 
}

.single-discount-product .product-image img {
  width: 100%;
  transition: all 0.4s ease-out 0s; 
}

.single-discount-product .product-content {
  position: absolute;
  top: 0;
  left: 0;
  padding: 45px 30px; 
}

@media (max-width: 767px) {
  .single-discount-product .product-content {
    padding: 15px 20px; 
  } 
}
@media (min-width: 576px) and (max-width: 767px) {
  .single-discount-product .product-content {
    padding: 25px 30px; 
  } 
}
.single-discount-product .product-content .content-title {
  font-size: 24px;
  line-height: 40px; 
}
@media (max-width: 767px) {
  .single-discount-product .product-content .content-title {
    font-size: 18px;
    line-height: 28px; 
  } 
}
@media (min-width: 576px) and (max-width: 767px) {
  .single-discount-product .product-content .content-title {
    font-size: 20px;
    line-height: 30px; 
  } 
}

.single-discount-product .product-content a {
  color: var(--font-color);
  font-size: 16px;
  font-weight: 500;
  transition: all 0.4s ease-out 0s; 
}

.single-discount-product .product-content a i {
  font-size: 10px;
  margin-left: 5px; 
}

.single-discount-product .product-content a:hover {
  color: var(--link-color); 
}

.single-discount-product:hover .product-image img {
  transform: scale(1.2); 
}


/* Footer */
footer {
  display: flex;
  flex-direction: column;
}

.credits{
  font-family: 'monospace', sans-serif;
  font-size: 0.8em;
  font-style: italic;
}

.credits a {
  text-decoration: none;
  color: var(--link-color);
}